<nav>
    <div class="holder">
        <img src="" alt="Logo da Brasfi">
        <ul>
            <li><a href="">Quem somos</a></li>
            <li><a href="">Impacto</a></li>
            <li><a href="">O que falam de nós</a></li>
            <li><a href="">Parceiros</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/plataforma">Plataforma</a></li>
            <li><a href="/feed">feed</a></li>
            <button (click)="logout()">Sair</button>
        </ul>
        <button><a href="">Faça Parte</a></button>
    </div>
</nav>
