<div class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <img src="assets/logo.png" alt="BRASFI Logo" class="logo">
      <p>Copyright © 2025 BRASFI. Todos os direitos reservados.</p>
    </div>
    <div class="footer-right">
      <a href="https://www.linkedin.com/company/brasfi/" target="_blank">
        <img src="assets/linkedin-icon.png" alt="LinkedIn">
      </a>
      <a href="https://www.instagram.com/brasfi_/" target="_blank">
        <img src="assets/instagram-icon.png" alt="Instagram">
      </a>
      <a href="https://www.youtube.com/@brasfi1976" target="_blank">
        <img src="assets/youtube-icon.png" alt="YouTube">
      </a>
      <a href="mailto:gpbrasfi@gmail.com">
        <img src="assets/email-icon.png" alt="Email">
      </a>
      <p>Rua BRASFI, BA<br>CNPJ XXXXXXXX.XXXX<br>emailbrasfi&#64;brasfi.com<br>(xx) xxxx-xxxx</p>
    </div>
  </div>
</div>
