<app-navbar></app-navbar>
<div class="feed-container">
  <!-- Coluna de Novidades -->
  <div class="feed-column novidades">
    <h2>Novidades</h2>
    <div *ngFor="let item of eventos_novidades" class="evento-card">
      <h4>{{ item.titulo }}</h4>
      <p>{{ item.paragrafo }}</p>
      <p>Data: {{ item.data }}</p>
    </div>
    <!-- Botão Ver Mais para Novidades -->
    <button class="ver-mais" (click)="verMais('NOVIDADES')">Ver mais</button>
  </div>

  <!-- Coluna de Notícias -->
  <div class="feed-column noticias">
    <h2>Notícias</h2>
    <div *ngFor="let item of eventos_noticias" class="evento-card">
      <h4>{{ item.titulo }}</h4>
      <p>{{ item.paragrafo }}</p>
      <p>Data: {{ item.data }}</p>
    </div>
    <!-- Botão Ver Mais para Notícias -->
    <button class="ver-mais" (click)="verMais('NOTICIAS')">Ver mais</button>
  </div>

  <!-- Coluna de Eventos -->
  <div class="feed-column eventos">
    <h2>Eventos</h2>
    <div *ngFor="let item of eventos" class="evento-card">
      <h4>{{ item.titulo }}</h4>
      <p>{{ item.paragrafo }}</p>
      <p>Data: {{ item.data }}</p>
    </div>
    <!-- Botão Ver Mais para Eventos -->
    <button class="ver-mais" (click)="verMais('EVENTO')">Ver mais</button>
  </div>
</div>
