<app-navbar></app-navbar>

<section class="mainframe"></section>

<section class="quem-somos">
    <div class="mini-card-wrapper">
        @for (id of cards; track $index) {
            <app-small-card
              [id]="id.toString()"
              [isSelected]="selectedId === id.toString()"
              (cardClicked)="onCardClick($event)">
            </app-small-card>
        }
    </div>
    <div class="big-card-wrapper">
        <app-big-card [id]="selectedId"></app-big-card>
    </div>
</section>

<section class="impacto">

    <h1 style="font-size: 3rem;">Impacto</h1>

    <ul>
        <li>
            <div class="impacto-item">

            </div>
        </li>
        <li>
            <div class="impacto-item">

            </div>
        </li>
        <li>
            <div class="impacto-item">

            </div>
        </li>
    </ul>

</section>

<section class="oq-falam">

    <h1>O que falam de nós</h1>

    <div class="depoimentos-holder">
        <app-depoimentos
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in quam ut neque vehicula ornare sed luctus felis. Morbi felis augue, interdum sit amet iaculis eu, pharetra vel metus. Quisque feugiat sapien nisi, et sagittis odio dictum luctus. In sodales auctor mauris vel placerat. Aliquam aliquam eu dolor nec accumsan. Phasellus orci justo, congue in convallis non, imperdiet vitae velit. Sed nec malesuada turpis, sed egestas eros. Suspendisse non lorem fringilla, aliquam ante in, varius mauris. Donec sollicitudin ipsum in dui tincidunt lacinia. Cras sem ex, dignissim ut diam sed, consectetur tincidunt elit."></app-depoimentos>
        <app-depoimentos
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in quam ut neque vehicula ornare sed luctus felis. Morbi felis augue, interdum sit amet iaculis eu, pharetra vel metus. Quisque feugiat sapien nisi, et sagittis odio dictum luctus. In sodales auctor mauris vel placerat. Aliquam aliquam eu dolor nec accumsan. Phasellus orci justo, congue in convallis non, imperdiet vitae velit. Sed nec malesuada turpis, sed egestas eros. Suspendisse non lorem fringilla, aliquam ante in, varius mauris. Donec sollicitudin ipsum in dui tincidunt lacinia. Cras sem ex, dignissim ut diam sed, consectetur tincidunt elit. Proin suscipit leo vel nisl pharetra pretium. Sed tempus vitae ipsum non mattis. Sed vel sapien diam. Etiam lacinia massa vitae egestas auctor. Curabitur pellentesque, mauris sit amet malesuada eleifend, dui orci imperdiet mauris, a interdum lacus ante eu tellus."></app-depoimentos>
        <app-depoimentos
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in quam ut neque vehicula ornare sed luctus felis. Morbi felis augue, interdum sit amet iaculis eu, pharetra vel metus. Quisque feugiat sapien nisi, et sagittis odio dictum luctus. In sodales auctor mauris vel placerat. Aliquam aliquam eu dolor nec accumsan. Phasellus orci justo, congue in convallis non, imperdiet vitae velit. Sed nec malesuada turpis, sed egestas eros. Suspendisse non lorem fringilla, aliquam ante in, varius mauris. Donec sollicitudin ipsum in dui tincidunt lacinia. Cras sem ex, dignissim ut diam sed, consectetur tincidunt elit."></app-depoimentos>
        <app-depoimentos
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in quam ut neque vehicula ornare sed luctus felis. Morbi felis augue, interdum sit amet iaculis eu, pharetra vel metus. Quisque feugiat sapien nisi, et sagittis odio dictum luctus. In sodales auctor mauris vel placerat. Aliquam aliquam eu dolor nec accumsan. Phasellus orci justo, congue in convallis non, imperdiet vitae velit. Sed nec malesuada turpis, sed egestas eros. Suspendisse non lorem fringilla, aliquam ante in, varius mauris. Donec sollicitudin ipsum in dui tincidunt lacinia. Cras sem ex, dignissim ut diam sed, consectetur tincidunt elit."></app-depoimentos>
        <app-depoimentos
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in quam ut neque vehicula ornare sed luctus felis. Morbi felis augue, interdum sit amet iaculis eu, pharetra vel metus. Quisque feugiat sapien nisi, et sagittis odio dictum luctus. In sodales auctor mauris vel placerat. Aliquam aliquam eu dolor nec accumsan. Phasellus orci justo, congue in convallis non, imperdiet vitae velit. Sed nec malesuada turpis, sed egestas eros. Suspendisse non lorem fringilla, aliquam ante in, varius mauris. Donec sollicitudin ipsum in dui tincidunt lacinia. Cras sem ex, dignissim ut diam sed, consectetur tincidunt elit."></app-depoimentos>
    </div>

</section>