<nav>
  <div class="holder">
      <img [src]=imgSource alt="Feed Icon" class="feed-icon">
    <ul class="nav-links">
      <li><a href="#">Quem somos</a></li>
      <li><a href="#">Impacto</a></li>
      <li><a href="#">O que falam de nós</a></li>
      <li><a href="#">Parceiros</a></li>
      <li><a href="#">Contato</a></li>
    </ul>
    <button class="login-button"><a href="/login">Entrar</a></button>
  </div>
</nav>

<section class="mainframe">
    <div class="image-container">
        <img [src]="imgMulher2" alt="Imagem Lateral" class="image-background">
        <div class="text-overlay">
            <img [src]="imgLogo" alt="Líder Icon" class="logo-icon">
            <h1>Formando líderes<br>e viabilizando<br>soluções</h1>
            <p>Promovendo a transformação no desenvolvimento<br>de lideranças e soluções em finanças e investimentos<br>sustentáveis.</p>
            <button class="cta-button">Quero me tornar um líder</button>
        </div>
    </div>
</section>



<section class="quem-somos">
    <div class="mini-card-wrapper">
        @for (id of cards; track $index) {
            <app-small-card
              [id]="id.toString()"
              [isSelected]="selectedId === id.toString()"
              (cardClicked)="onCardClick($event)">
            </app-small-card>
        }
    </div>
    <div class="big-card-wrapper">
        <app-big-card [id]="selectedId"></app-big-card>
    </div>
</section>

<section class="impacto">
    <h1 class="impacto-title">Impacto</h1>
    <div class="impacto-container">
        <div class="impacto-item">
            <h3>Eventos de Impacto</h3>
            <p class="impacto-number">+40</p>
            <p class="impacto-texto">Eventos relacionados a finanças sustentáveis e ESG no Brasil</p>
        </div>
        <div class="impacto-item">
            <h3>Workshops & Cursos</h3>
            <p class="impacto-number">+50</p>
            <p class="impacto-texto">Treinamentos internos realizados</p>
        </div>
        <div class="impacto-item">
            <h3>Entrevistas concedidas</h3>
            <p class="impacto-number">+20</p>
            <p id="impacto-texto3">Participações em entrevistas nacionais para meios de comunicação</p>
        </div>
    </div>
</section>


<section class="oq-falam">
    <h1>O que falam de nós</h1>

    <div class="depoimentos-holder">
        <div class="depoimento-card">
            <p>"Aprendi mais em um mês com a BRASFI do que em anos de mercado!"</p>
            <div class="depoimento-author">
              <img [src]="imgCara7" alt="Imagem Lateral" class="image-background">
                <div class="author-info">
                    <span>Eduardo Lima</span>
                    <small>Gestor de Riscos Socioambientais</small>
                </div>
            </div>
        </div>

        <div class="depoimento-card">
            <p>"Participar da formação em liderança da BRASFI foi um divisor de águas. Além de desenvolver habilidades técnicas e humanas, me conectei com profissionais engajados em transformar o mundo das finanças com ética, impacto e responsabilidade."</p>
            <div class="depoimento-author">
              <img [src]="imgCara1" alt="Imagem Lateral" class="image-background">
                <div class="author-info">
                    <span>Renata Almeida</span>
                    <small>Consultora em Investimentos Sustentáveis</small>
                </div>
            </div>
        </div>

        <div class="depoimento-card">
            <p>"A formação em liderança da BRASFI abriu portas que eu nem imaginava!"</p>
            <div class="depoimento-author">
              <img [src]="imgCara2" alt="Imagem Lateral" class="image-background">
                <div class="author-info">
                    <span>Gabriel Torres</span>
                    <small>Diretor de Inovação em Finanças</small>
                </div>
            </div>
        </div>

        <div class="depoimento-card">
            <p>"A BRASFI me ajudou a unir propósito e carreira. Hoje atuo com liderança estratégica e consciência ambiental no setor financeiro, graças à formação que recebi."</p>
            <div class="depoimento-author">
              <img [src]="imgCara6" alt="Imagem Lateral" class="image-background">
                <div class="author-info">
                    <span>Luciana Castro</span>
                    <small>Coord. de Projetos de Finanças</small>
                </div>
            </div>
        </div>

        <div class="depoimento-card">
            <p>"Nunca imaginei que poderia conciliar finanças e sustentabilidade de forma tão prática. A formação em liderança da BRASFI me deu visão, vou a uma rede de apoio essencial para minha jornada profissional."</p>
            <div class="depoimento-author">
              <img [src]="imgCara5" alt="Imagem Lateral" class="image-background">
                <div class="author-info">
                    <span>Thiago Monteiro</span>
                    <small>Analista ESG em Instituição Financeira Verde</small>
                </div>
            </div>
        </div>

        <div class="depoimento-card">
            <p>"Os cursos me deram clareza, confiança e ferramentas práticas para liderar com propósito e foco em impacto sustentável."</p>
            <div class="depoimento-author">
               <img [src]="imgCara4" alt="Imagem Lateral" class="image-background">
                <div class="author-info">
                    <span>Carla Menezes</span>
                    <small>Especialista em Finanças Regenerativas</small>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="parceiros">
    <div class="parceiros-header">
        <h1>Parceiros</h1>
    </div>
    <div class="parceiros-container">
        <div class="parceiros-row">
          <div id="imagem1">
            <img [src]="img1" alt="Parceiro 1" class="parceiro-logo">
            <p>The Climate Reality Project</p>
            </div>
            <img [src]="img2" alt="Parceiro 2" class="parceiro-logo">
            <img [src]="img3" alt="Parceiro 3" class="parceiro-logo">
            <img [src]="img4" alt="Parceiro 4" class="parceiro-logo">
        </div>
        <div class="parceiros-row">
            <img [src]="img5" alt="Parceiro 5" class="parceiro-logo">
            <img [src]="img6" alt="Parceiro 6" class="parceiro-logo">
            <img [src]="img7" alt="Parceiro 7" class="parceiro-logo">
            <img [src]="img8" alt="Parceiro 8" class="parceiro-logo">
        </div>
    </div>
</section>

<section class="voluntariado">
    <div class="voluntariado-content">
        <h2>Venha ser<br>voluntário da<br>BRASFI</h2>
        <button class="voluntariado-button">Faça parte</button>
    </div>
    <div class="voluntariado-image" style="max-width: 50%;">
      <img [src]=imgVoluntario alt="Feed Icon">
    </div>
</section>

<app-footer></app-footer>
