<app-navbar></app-navbar>
<section class="mainframe"></section>
<section class="quem-somos">

    <div class="mini-card-wrapper">
        <app-landing-card title="Quem somos?"></app-landing-card>
        <app-landing-card title="Nosso propósito"></app-landing-card>
        <app-landing-card title="Nossa visão"></app-landing-card>
        <app-landing-card title="Nossa missão"></app-landing-card>
        <app-landing-card title="Como atuamos"></app-landing-card>
    </div>

    <app-big-card title="Quem somos?" content="blablablal"></app-big-card>

</section>