<app-navbar></app-navbar>

<div class="header-spacer"></div>

<div class="detalhes-container">
  <h2>{{ postagem?.titulo }}</h2>
  <p>{{ postagem?.paragrafo }}</p>
  <p><strong>Autor:</strong> {{ postagem?.autor }}</p>
  <p><strong>Tag:</strong> {{ postagem?.tag }}</p>
   
    <div *ngIf="postagem.imagemOuVideo">
        <iframe 
          *ngIf="getYoutubeEmbedUrl(postagem.imagemOuVideo)" 
          [src]="getYoutubeEmbedUrl(postagem.imagemOuVideo)" 
          frameborder="0" 
          allowfullscreen>
        </iframe>
      </div>
</div>

 
  