<app-navbar></app-navbar>
<div class="titulo-centro">
  <div class="titulo" style="display: flex;">
    <img [src]=imgSource alt="Feed Icon" class="centro-icon">
    <h1 class="text-center my-4">Gestão de Cursos</h1>
    </div>
  <div class="d-flex justify-content-between mb-4">
    <button class="btn btn-primary" (click)="criarNovoCurso()">
      Criar Novo Curso
    </button>
  </div>
  </div>
<div class="container">


  <!-- Lista de Cursos por Área de Conhecimento -->
  <div *ngFor="let area of getAreasConhecimento()" class="area-container">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h2 class="area-title">{{ area }}</h2>
    </div>

    <div class="curso-grid">
  <div *ngFor="let curso of getCursosPorArea(area)" class="curso-card">
    <div class="curso-header">
      <h4>{{ curso.titulo }}</h4>
    </div>
    <div class="curso-detalhes">
      <p><strong>Duração:</strong> {{ curso.duracao }}</p>
      <p><strong>Autor:</strong> {{ curso.autor }}</p>
      <p><strong>Área:</strong> {{ curso.areaConhecimento }}</p>
      <button class="btn btn-outline-primary detalhes-btn"(click)="mostrarCursosDaArea(curso.areaConhecimento)">
       <i class="material-icons">arrow_forward</i>
      </button>
    </div>
  </div>
</div>

  </div>
</div>

<app-footer></app-footer>
