.holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #EFEFEF;
    padding: 1rem 2rem;
    border-style: none;
    border-radius: 1rem;
    font-weight: bold;
}

.holder:hover{
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}

.selected {
    background-color: rgba(41, 170, 65, 1);
    color: white;
}

.selected:hover{
    background-color: rgb(34, 146, 55);
}
